:root {
    --main-theme-color: #499fc8;
}

.header{
    margin-bottom: 20px;
}

button.navbar-toggler{
    border-width: 0;
}


#intro h1{
    align-self: center;
    color: var(--main-theme-color);
}

#intro .intro-image{
    border-radius: 4px;
}

/* Post Page */

.post {
    animation-name: fade-bottom;
    animation-duration: 1s;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* CV Page */

#cv-english-name{
    text-align: center;
    color: var(--main-theme-color);
}

#cv-korean-name{
    font-family: 'Noto Sans Kr', sans-serif;
    color: #333;
    font-size: large;
    text-align: center;
}

.appear-effect{
    animation-name: appear;
    animation-duration: 1s;
}

@keyframes appear{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cv h3{
    color: var(--main-theme-color);
}



.footer{
    margin-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #aaa;
}

#footer-text{
    margin-bottom: 0px;
    padding: 10px;
    font-size: 9pt;
    font-weight: 200;
    color: #fafafa;
}


a:link{         color:gray;}
a:visited{      color:gray;}
a.active{       color:gray;}
a:hover{        color:gray;}